*.Rproj
*.qgz
*.xlsx
*.pptx
*.DS_Store
.Rproj.user
.Rhistory
data/
antonella-prvs-code/

scripts/old_stock_assessment
scripts/03_stakeholder_eda

output/old_stock_assessment
output/eda
output/stock_analysis/ss_calale/ypr/tables/all_*.png
output/stock_analysis/ss_calale/ypr/all_*.png
output/stock_analysis/ss_calale/ypr/*_vpa.png